body {
    height: 800px;
    background-image: url("https://img.freepik.com/psd-gratis/bordes-abstractos-degradados_23-2150602081.jpg?w=1380&t=st=1697252672~exp=1697253272~hmac=f1d3307a0f6226cae686b9118bc7ad8c37beed3deb88495480191c5ddafc9ae4");
  background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
  }